[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "lib/fast"]
	path = lib/fast
	url = https://github.com/edrosten/fast-C-src.git
